<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ="stylesheet" href ="{{url_for('static', filename ='style.css')}}">
</head>

<body>
<h1>Welcome to My Flask Blog!</h1>
<p><a href="{{url_for('add')}}">Add a new Blog post</a></p>
    <div class="post">
         {% for details in posts%}
        <h2>{{details["title"]}}</h2>
        <p><em>Written by {{details["author"]}}</em></p>
        <p>Post content:{{details["content"]}}</p>
         <div>
            <a href="{{ url_for('likePost', id=details['id']) }}">
                <button class="like-btn">
                    Like <span id="likes-count-{{ details['id'] }}">{{ details["likes"] }}</span>
                </button>
            </a>
        </div>
        <form action="{{ url_for('update', post_id=details['id']) }}" method="GET">
        <button type="submit">Update</button>
        </form>
        <form action="{{ url_for('delete', post_id=details['id']) }}" method="POST">
        <button type="submit">Delete</button>
        </form>
        {% endfor %}
    </div>
</body>
</html>